<<<<<<< HEAD
@media (min-width: 768px) and (max-width: 1023px) {
    .col-md-4{
        flex: 0 0 auto;
        width: 50%
    }
}
@media (min-width: 768px){
    .card-body{
        height: 20rem;
    }
    .card-img-top{
        height: 13rem;
    }
    .btn-sm{
        left: 36%;
    }
}
@media (min-width: 535px) and (max-width: 767px) {
    .col-md-4{
        flex: 0 0 auto;
        width: 50%
    }
    .card-body{
        height: 22rem;
    }
    .card-img-top{
        height: 10rem;
    }
    .btn-sm{
        left: 39%;
    }
}
@media (max-width: 535px){
    .col-md-4{
        flex: 0 0 auto;
        width: 100%
    }
    .card-body{
        height: 18rem;
    }
    .card-img-top{
        height: 10rem;
    }
    .card-text .mb-2{
        height: 5em;
    }
}
=======
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
>>>>>>> 7fed584 (Initialize project using Create React App)
